<ion-header [translucent]="true">
  <ion-toolbar>  
    <ion-title>
  Universitas Binaniaga
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <body> 
     <div class="logo1">
        <img src=" /assets/unbin.jpg"  alt="">
    </div>
    <main>
       <div class="chat-container">
    <ul class="chat">
      <li class="messages">         
        <h5 style="color:black" style="font-weight:bold" >Selamat datang di universitas Binaniaga</h5>
      </li>
      <li class="message right">
        <img class="logo" src=" /assets/unbin.jpg" alt="">        <p style="color: black;">Information Penerimaan Mahasiswa</p>
        <div class="imag"><img src="https://www.unbin.ac.id/public/assets/img/platform/bin_20231.webp" alt=""></div>
      </li>
      <li class="message left">
        <img class="logo" src=" /assets/unbin.jpg" alt="">        <p style="color: black;">Universitas Binaniaga Indonesia atau disingkat UNBIN adalah sebuah universitas yang berasal dari gabungan 3 Perguruan Tinggi dibawah naungan Yayasan Binaniaga yaitu STIE Binaniaga, STIKOM Binaniaga dan AMIK Bogor. Unbin saat ini memiliki 2 fakultas yaitu Ekonomi dan Ilmu Komputer</p>
      </li>
      <li class="message right">
        <img class="logo" src=" /assets/unbin.jpg" alt="">        <h5 style="color:black;">Visi</h5>
        <p style="color: black;">Menjadi Perguruan Tinggi yang memiliki daya saing global di bidang teknologi informasi dan bisnis pada tahun 2045</p>
      </li>
      <li class="message right">
        <img class="logo" src=" /assets/unbin.jpg" alt="">        <h5 style="color:black;">Misi</h5>
        <p style="color: black;">Untuk mewujudkan Visi Universitas Binaniaga Indonesia tersebut Misi Universitas Binaniaga Indonesia adalah:

          Membangun reputasi akademik melalui proses pendidikan secara terus-menerus yang berpusat kepada mahasiswa.
          Melaksanakan dan mengembangkan program-program penelitian dan pengabdian kepada masyarakat melalui inovasi ilmu pengetahuan.
          
       Mendukung pembangunan nasional bagi pemerintah maupun dunia usaha sebagai sumber rujukan dalam bidang teknologi informasi dan bisnis.
       
          Melakukan kerjasama dengan dunia usaha, lembaga dan asosiasi pendidikan berdasarkan link and match dengan competency based curriculum yang mengkombinasikan keseimbangan hard skill dan soft skill.
          Membangun Citra Universitas Binaniaga Indonesia.</p>
      </li>
      <li class="message left">
        <img class="logo" src=" /assets/unbin.jpg" alt="">        <div class="img"><img src="https://www.unbin.ac.id/public/assets/img/acara/TAbaru_11zon.webp" alt=""></div>
      <p style="color: black;">Selamat Datang: Tahun Akademik 2023/2024</p>
    </li>
      <li class="message right">
        <img class="logo" src=" /assets/unbin.jpg" alt="">        <h5 style="color:black">FINKOM</h5>
        <p style="color: black;">Fakultas Informatika dan Komputer selanjutnya disingkat FINKOM adalah salah satu fakultas yang diselenggarakan oleh Universitas Binaniaga Indonesia.</p>
      </li>
    </ul>
  </div>
    </main>
 
  </body>
  </ion-content>
  
